:root{
    --color-primary: #212121;
    --color-secondary: #757575;
    --color-brand: #2196F3;
    --color-background: #2F303A;
    --color-pouring: #F5F4FA;
}

body{
    color: var(--color-primary);
    font-family: 'Roboto', serif;
}

.accent{
    color: var(--color-brand);
}

.link-logo{
    font-family: Raleway;
    color: #000;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.link-navigation{
    color: var(--color-primary);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.link-navigation:hover{
    color: var(--color-brand);
}
.link-contacts{
    color: var(--color-secondary);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.link-contacts:hover{
    color: var(--color-brand);
}

.hero-section{
   background-color: var(--color-background);
}

.hero-title{
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: #fff;
    text-align: center;
}

.btn-primery{
    background-color:var(--color-brand);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.title-benefitsf{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.text-benefitsf{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-secondary);
}

.title-activity{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.section-team{
    background: var(--color-pouring)
}

.team-title{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.name-title{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.text-team{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--color-secondary);
}

.footer{
    background: var(--color-background)
}

.link-logo-footer{
    font-family: Raleway;
    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.link-address{
    text-decoration: none;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.filter-button{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--color-pouring);
    color: var(--color-primary);
}

.filter-button:hover{
    background-color: var(--color-brand);
    color: #fff;
}

.item-project{
    border: 1px solid #EEEEEE;
}

.item-project:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.link-project{
    text-decoration: none;
}

.project-title{
    color: var(--color-primary);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    spacing: 0.06em;
}

.project-text{
    color: var(--color-secondary);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
}
